body {
    font-family: 'Segoe UI light';
}


/* #recipes-search {
    height: 100vh;
    background-image: url("../images/shutterstock_277750193.jpg");
    background-size: cover;
    background-position: fixed;
} */

.navbar {
    background-color: rgba(53, 59, 65, .5) !important;
    position: fixed;
}

.bg-gray {
    background-color: #f8f8f8 !important;
}

.bg-red {
    background-color: #ef4836 !important;
}

.color-red {
    color: #ef4836 !important;
}

.box-shadow {
    box-shadow: 0 5px 13px 0px rgba(0, 0, 0, .1) !important;
}

#recipes-search .media img {
    width: 70px !important;
    height: 70px !important;
}